.tile-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: fit-content;
    width: 250px;
    
}

.link {
    text-decoration: none;
    color: black;
}

.link img {
    width: 100%;
}

.title {
    margin-top: 4px;
    font-weight: 700;
}

.rating-wrapper {
    margin: 0;
}

.rating-wrapper .stars {
    white-space: nowrap;
}

.trainer-name {
    font-weight: 500;
    color: grey;
}

.actual-price {
    margin-left: 10px;
    color: grey;
    width: fit-content;
}

.discounted-price {
    font-weight: 700;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
}

.tile-wrapper .badge {
    color: rgb(61, 60, 10);
    background-color: rgb(236, 235, 152);
    width: fit-content;
    padding: 4px;
}

.strike-through {
    text-decoration: line-through;
}