.detail-wrapper {
    display: flex;
    max-width: 70%;
    margin: 36px auto 0;
  }
  .black-background {
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: black;
    z-index: 0;
    top: 135px;
  }
  .detail-left-wrapper {
    color: white;
    z-index: 10;
    flex: 5;
    margin-top: 10px;
  }
  .course-title {
    z-index: 10;
    color: white;
    font-size: 32px;
  }
  .rating-status .rating-wrapper {
    color: #f3ca8c;
    font-weight: 700;
    
    margin: auto 10px;
  }
  .atc-container {
    display: flex;
  }
  .left-author {
    color: white;
    margin: 0;
  }
  .badge-status {
    color: black;
    background-color: rgb(226, 241, 160);
    width: fit-content;
    padding: 4px;
    margin-bottom: 12px;
  }
  .course-status {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    font-size: 10px;
  }
  .trainer-details {
    margin: 0;
    font-size: 12px;
  }
  .course-update {
    margin: 0;
    display: inline;
  }
  .language {
    display: inline;
    margin: 0 10px 0;
  }
  .rating-status {
    display: flex;
    margin-top: 10px;
  }
  .course-detail-right-container {
    box-shadow: 0px 0px 6px grey;
    background-color: white;
    position: relative;
    z-index: 10;
    flex: 2;
  }
  .course-image {
     width: 100%;
  }
   .course-desc {
    font-size: 24px;
  }
  .course-price {
    font-weight: 700;
    color: black;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .buy-course-container {
    padding-left: 16px;
    box-sizing: border-box;
  }
  .add-to-cart-wrapper {
    position: inherit;
    z-index: 10;
    display: flex;
  }
  .add-to-cart {
    flex: 5;
    padding: 8px;
    display: inline;
    background-color: rgb(185, 29, 233);
    border: 1px solid white;
  }
  .buy-now {
    padding: 8px;
    margin-top: 4px;
    display: inline;
    width: 95%;
    color: black;
    background-color: white;
    font-weight: 600;
    border: 1px rgb(83, 78, 78) solid;
  }
  .wish-list {
    flex: 1;
    margin-left: 6px;
    padding: 6px;
  }
  .wish-list-icon {
    height: 10px;
    display: inline;
    padding: 4px;
    border: 1px solid black;
  }
  .error-messsage {
    color: red;
    margin:  0;
  }
  .errors {
    border: 1px solid red;
  }
  .list-of-learning {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    padding-left: 0;
  }
  .learning-container {
    color: black;
    border: 1px solid rgb(233, 222, 222);
    width: 90%;
    padding-left: 8px;
    margin-top: 6em;
}
  .list-items {
    padding: 8px;
  }
  .list-items-desc {
    margin-left: 10px;
  }