.shimmer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.shimmer-card {
    background-color: #f0f0f0;
    margin: 10px;
    width: 250px;
    height: 280px
}